.maincont{
	padding-top: 50px; 
	padding-bottom: 50px; 
}
.mainHeading{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 30px;
	color: #262626;
	letter-spacing: -1px;
}
.sologan{
	color: #A7A9AC;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 300;
}
.crtposheading{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 30px;
	color: #262626;
	margin-top: 35px;
	margin-bottom: 15px;
	letter-spacing: -1px;
}
.drop_down_select_pos{
	width: 36.5%;
	text-align: left;
	margin-right: 45px;
	display: inline-block;
	margin-left: 19px;
	float: left;
	font-family: 'Roboto';
}
.drop_down_select_pos label{
    width: 100%;
    padding-left: 15px;
	line-height: 0px !important;
	font-family: 'Roboto';
}
.drop_down_select_pos {
    width: 100%;
    text-align: left;
    margin-right: 22px;
    display: inline-block;
    margin-left: 0;
    float: left;
    font-family: 'Roboto';
    margin-bottom: 15px;
	margin-top: 20px;
}
.mar_right{
	margin-right: 30px !important;
}
.drop_down_select_pos div {
    width: 100% !important;
}
.aboutaccountform {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.formBtn{
	background: #662d94;;
	-webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;   
    transition: background 1s ease-out; 
	color: #fff;
    font-family: 'Roboto';
    border: 0;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 300;
    margin-top: 35px;
	margin-bottom: 60px;
	font-size: 15px;
}
.formBtn:hover{
	background: #7e3b80;
	cursor: pointer;
}

.testClass{
  padding-left: 12px;
}