.maincont {
  height: 93vh;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}
.mainHeading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  color: #262626;
  letter-spacing: -1px;
}
.sologan {
  color: #a7a9ac;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
}
.formHeading {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 26px;
  color: #262626;
  margin-top: 35px;
  letter-spacing: 0px;
  margin-bottom: 0 !important;
}
.formHeading2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 26px;
  color: #262626;
  letter-spacing: 0px;
  margin-bottom: 2vh;
}
.crtaccountform {
  width: 30em;
  margin: 0 auto;
}
.crtaccountform label {
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 0px !important;
}
.crtaccountform div {
  width: 100% !important;
  /* margin-bottom: 15px; */
}
.crtaccountform input {
  padding-left: 10px !important;
  box-shadow: none !important;
}
.crtaccountform:last-child {
  border-bottom-color: rgba(0, 0, 0, 0.42);
  border: "2px solid #000000";
}

.formBtn {
  background: #662d94;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out;
  color: #fff;
  font-family: "Roboto";
  border: 0;
  border-radius: 4px;
  font-weight: 300;
  font-size: 15px;
  padding: 10px 30px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.nextBtn {
  background: #662d94;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out;
  color: #fff;
  font-family: "Roboto";
  border: 0;
  border-radius: 4px;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 0;
  height: 3em;
  width: 10em;
  margin: 2.2em auto;
  cursor: pointer;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.nextBtn:hover .nextBtn-img {
  scale: 2;
}
.nextBtn:focus {
  outline: none !important;
}
.formBtn:hover {
  background: #7e3b80;
  cursor: pointer;
}

.nextBtn:nth-child(1) {
  flex: 8;
  padding-left: 0em;
  align-items: center;
}
.nextBtn:nth-child(2) {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}
.bottomboxes {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottomboxes img {
  padding-top: 10px;
  padding-bottom: 20px;
}
.bottomboxes h4 {
  font-family: "Roboto";
  font-weight: 300;
  color: #262626;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bottomboxes p {
  font-family: "Roboto";
  font-weight: 300;
  color: #a7a9ac;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.bottomSection {
  border-top: 1px solid #e7e7ef;
  padding-top: 20px;
}
.oscar-logo-wrapper {
  margin-top: 5vh;
  margin-bottom: 4vh;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 3%;
}
.inputStyleMainBx {
  height: 57px;
  /* margin-bottom: 10px; */
}
.inputStylePassword {
}
.inputStylePassword.MuiInput-underline::before {
  border-bottom: 1px solid #e7e7ef !important;
}
.inputStylePassword.MuiInput-underline:focus {
  border-bottom: 1px solid #e7e7ef !important;
}
.inputStylePassword.MuiInput-underline::after {
  border-bottom: 2px solid #662d94 !important;
}
.inputStylePassword .MuiIconButton-root {
  position: relative !important;
  top: -9px !important;
  padding: 6px !important;
  color: #662d94;
}
.passwordCont label {
  font-size: 15px;
}
.verficationNumber {
  color: #03b3ec;
}
.verification-code-wrapper {
  margin-top: 45px;
  margin-bottom: 40px;
}
.verification-code-wrapper-row-2 input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #eee !important;
  box-shadow: none !important;
  color: #03b3ec !important;
  width: 50px !important;
  text-align: center;
  padding: 0 !important;
  font-size: 30px !important;
}
.verification-code-wrapper-row-2 input:focus {
  border-bottom: 1px solid #414042 !important;
  box-shadow: none;
  outline: none;
}
.verification-code-wrapper-row-1 {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #414042;
  font-size: 16px;
}
.resend-code-container-row-1 {
}
.resend-code-container-row-1 p {
  color: #414042;
  font-size: 13px;
}
.resend-code-container-row-1 span {
  color: #414042;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 3px;
}
.resend-code-container-row-1 span:hover {
  cursor: pointer;
}
.resend-code-container-row-2 {
  margin-top: 10px !important;
  margin-bottom: 25px;
}
.resend-code-container-row-2 p {
  color: #414042;
  font-size: 13px;
}
.resend-code-container-row-2 span {
  color: #414042;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 5px;
}
.resend-code-container-row-2 span:hover {
  cursor: pointer;
}
.verification_boxMain{

}
.verification_boxMain .topSectionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.verification_boxMain .back-btn-wrapper {
  width: 3%;
  text-align: left;
  margin-top: 3px;
}
.verification_boxMain .verification_topHeading {
  width: 97%;
}
.verfication_inpout_Error {

  position: relative;
  top: -40px;

}
.verification_topHeading .formHeading2{
  margin-top: 0;
}
.example-appear {
  /* opacity: 0.01; */
  /* opacity: 0.6; */
  opacity: 0.01;
  transform: translateX(-500px);
  transition: transform 0.8s linear, opacity 0.8s ease-in;
  
}

.example-appear.example-appear-active {
  transform: translateX(0px);
  opacity: 1;
  /* opacity: 1;
  transition: opacity 0.5s ease-in; */
}
