.maincont {
  height: 93vh;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}
.aboutMaincont {
  padding-top: 10px !important;
}
.mainHeading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  color: #262626;
  letter-spacing: -1px;
}
.topSectionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skipBoxMain {
  position: absolute;
  right: 4%;
  top: 10%;
}
.blankSpace {
  height: 35px;
  margin-bottom: 1vh;
}
.topSologan {
}
.nextBtn .nextBtnText {
  text-align: center;
  width: 76% !important;
  padding-left: 20px;
  font-weight: 400;
}
.nextBtn .nextBtnimg {
  width: 24% !important;
  text-align: center;
}

.backBtnCoint {
  position: absolute;
  left: 0;
  top: 10%;
}
.sologan {
  color: #a7a9ac;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
}
.formHeading {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 26px;
  color: #262626;
  margin-top: 35px;
  margin-bottom: 15px;
  letter-spacing: 0px;
}
.drop_down_select {
  width: 36.5%;
  text-align: left;
  margin-right: 45px;
  display: inline-block;
  margin-left: 19px;
  float: left;
  font-family: "Roboto";
}
.drop_down_select label {
  width: 100%;
  padding-left: 15px;
  line-height: 0px !important;
  font-family: "Roboto";
}
.drop_down_select {
  width: 44%;
  text-align: left;
  margin-right: 22px;
  display: inline-block;
  margin-left: 0;
  float: left;
  font-family: "Roboto";
}
.mar_right {
  margin-right: 30px !important;
}
.drop_down_select div {
  width: 100% !important;
}
.text_box_field {
  width: 100% !important;
  height: 5em;
  /* text-align: left !important; */
  /* display: inline-block; */
  /* font-family: "Roboto"; */
}
.text_box_field label {
  padding-left: 15px;
  line-height: 0px !important;
  font-family: "Roboto";
}
.text_box_field div {
  width: 100% !important;
}
.text_box_field input {
  padding-left: 15px !important;
  font-family: "Roboto";
}
.aboutaccountform {
  width: 25em;
  margin: 0 auto;
}
.aboutaccountform label {
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 0px !important;
}
.aboutaccountform div {
  width: 100% !important;
  /* margin-bottom: 15px; */
}
.aboutaccountform input {
  padding-left: 10px !important;
  box-shadow: none !important;
}
/* .aboutaccountform:last-child {
    border-bottom-color: rgba(0, 0, 0, 0.42);
    border: "2px solid #000000";
  } */

/* .aboutaccountform {
    width: 25em;
    margin: 0 auto;
  }
  .aboutaccountform label {
  }
  .aboutaccountform div {
  }
  .aboutaccountform input {
  } */
.formBtn {
  background: #662d94;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out;
  color: #fff;
  font-family: "Roboto";
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 300;
  margin: 35px auto 60px;
  font-size: 15px;
}
.formBtn:hover {
  background: #7e3b80;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .text_box_field {
    width: 100% !important;
  }
  .drop_down_select {
    width: 87%;
    margin-right: 26px;
  }
}
.dotComname {
  color: #262626 !important;
}
.back-btn-wrapper {
  /* position: absolute;
    left: 1.5%;
    top: 26%; */
}

.backarrow {
  cursor: pointer;
}

.backarrow-img {
  width: 1.5em;
}

.formHeading {
  margin: 0px;
}
.dropDownMain {
}
.dropDownInnermat {
}
.inputStyle.dropDownInnermat div {
  color: #510146 !important;
}
.inputStyle.dropDownInnermat svg {
  fill: #510146 !important;
}

#undefined-Hinttext-FloatingLabelText-27318 > div:nth-child(2) {
  padding-left: 1em !important;
  border: 5px solid !important;
}
.business-category-container.tablet_screen {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}
.tablet_screen .radio {
  width: 20%;
  text-align: left;
  padding: 15px 15px;
}
.tablet_screen .radio:nth-child(1) {
  border-bottom: 1px solid #ddd;
}
.tablet_screen .radio input {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.example-appear {
  /* opacity: 0.01; */
  /* opacity: 0.6; */
  opacity: 0.01;
  transform: translateX(-500px);
  transition: transform 0.8s linear, opacity 0.8s ease-in;
  
}

.example-appear.example-appear-active {
  transform: translateX(0px);
  opacity: 1;
  /* opacity: 1;
  transition: opacity 0.5s ease-in; */
}