.business-category-container {
  display: grid;
  grid-template-columns: 13em 13em 13em;
  grid-template-rows: 10.5em 10.5em;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.business-category-item {
  border: 1px solid #efeff1;
  width: 12em;
  height: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* transition: border 0.6s linear; */
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}
.business-category-name {
  font-size: 14px;
  font-family: roboto;
  font-weight: 400;
  margin-top: 5px;
  color: #262626;
}
.business-category-name-img img {
  width: 50px;
  height: 50px;
}
.text_box_field {
  margin-right: 0;
}
.businessHeading {
  width: 52%;
  margin: 0 auto 15px;
  text-align: left;
  font-family: roboto;
  font-size: 16px;
  text-align: center;
  color: #414042;
}

.example-appear {
  /* opacity: 0.01; */
  /* opacity: 0.6; */
  opacity: 0.01;
  transform: translateX(-500px);
  transition: transform 0.8s linear, opacity 0.8s ease-in;
}

.example-appear.example-appear-active {
  transform: translateX(0px);
  opacity: 1;
  /* opacity: 1;
  transition: opacity 0.5s ease-in; */
}
