.mainContainer {
	width: 100%;
	height: 80vh;
	display: flex;
	/* margin-top: 15%; */
	justify-content: center;
	align-items: center
}

.thankyou_text{
	font-size: 40px;
    font-weight: bold;
	color: #662d94;
	margin-top: 20px
}

.paragraph-text{
	font-size: 24px;
	color: #454444;
}

.paragraph-text span {
	color:#8dc63f
}