label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

.laoding-view {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
}

#id {
  opacity: 0;
  position: absolute;
  z-index: -1;
  outline: none;
}
.file-label {
  position: absolute;
  display: flex;
  height: 3.3em;
  align-items: center;
  background: #fff;
  width: 100%;
  color: #262626;
  border-radius: 5px;
  border: 1px solid #414042;
}
.uploadButtonMain {
  position: relative;
  display: flex;
  margin: 2.2em auto 1.8em;
  justify-content: center;
}
.uploadButtonFirstPara {
  margin-top: 2.5em;
  font-size: 11px;
  color: #939598;
}
.uploadButtonSecondPara {
  color: #7f3f98;
  font-size: 12px;
}
.uploadButtonMain:focus,
.uploadButtonMain label:focus,
.uploadButtonMain input:focus {
  outline: none !important;
}
.uploadButtonMain label:nth-last-child(1) {
  font-size: 13px;
}

.example-appear {
  /* opacity: 0.01; */
  /* opacity: 0.6; */
  opacity: 0.01;
  transform: translateX(-500px);
  transition: transform 0.8s linear, opacity 0.8s ease-in;
  
}

.example-appear.example-appear-active {
  transform: translateX(0px);
  opacity: 1;
  /* opacity: 1;
  transition: opacity 0.5s ease-in; */
}
.fileExtension_error{
  
}
