.align-center {
    text-align: center
}

.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.main-div {
    /* background-image: linear-gradient(#776cd3, #d35ffb);        */
    height: 100vh;
    width: 100%; 
}
.inner-container .welcome-text {
    font-size: 32px;
    color: #000;
}

.paragraph-text {
    font-size: 20px;
    color: #000;
}