.header-title_text{
    font-size: 18px;
    font-weight: bold;
}

.header-right_icon button {
    background: transparent;
    outline: none;
    border: none;
}
.header-right_icon button i {
    color:#ffff;
    font-size: 18px
}