.loading {
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 9;
    top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.loading_inner{
	height: 50%;
	padding: 25px 20px; 
}

#loading {
	-webkit-animation: rotation 2s infinite linear;
	-moz-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
	/*transform-origin: top center;*/
	text-align: center;
	position: relative;
	height: 99px;
	width: 88px;
}
.loader{
	width: 120px;
	height: 120px;
}


@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
				 transform-origin: 55% 46%;
		}
		to {
				-webkit-transform: rotate(360deg);
				 transform-origin: 55% 46%;
		}
}
@-moz-keyframes rotation {
		from {
				-moz-transform: rotate(0deg);
		}
		to {
				-moz-transform: rotate(360deg);
		}
}
.loading_inner h4{
	color: #fff;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 28px;
	margin-top: 50px;
}
.loading_inner p{
	color: #fff;
	font-family: 'Roboto';	
	font-weight: 300;
	font-size: 18px;
}
.spin-image{
	position: relative;
  top: 50%;
  -webkit-animation: spin 0s linear infinite;
  -moz-animation: spin 0s linear infinite;
  animation: spin 3s  linear infinite;
}
.maincont{
	padding-top: 50px; 
	padding-bottom: 50px; 
}
.mainHeading{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 30px;
	color: #262626;
	letter-spacing: -1px;
}
.sologan{
	color: #A7A9AC;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 300;
}
.crtposheading{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 30px;
	color: #262626;
	margin-top: 35px;
	margin-bottom: 15px;
	letter-spacing: -1px;
}
.drop_down_select_pos{
	width: 36.5%;
	text-align: left;
	margin-right: 45px;
	display: inline-block;
	margin-left: 19px;
	float: left;
	font-family: 'Roboto';
}
.drop_down_select_pos label{
    width: 100%;
    padding-left: 15px;
	line-height: 0px !important;
	font-family: 'Roboto';
}
.drop_down_select_pos {
    width: 100%;
    text-align: left;
    margin-right: 22px;
    display: inline-block;
    margin-left: 0;
    float: left;
    font-family: 'Roboto';
    margin-bottom: 15px;
	margin-top: 20px;
}
.mar_right{
	margin-right: 30px !important;
}
.drop_down_select_pos div {
    width: 100% !important;
}
.aboutaccountform {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.formBtn{
	background: #662d94;;
	-webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;   
    transition: background 1s ease-out; 
	color: #fff;
    font-family: 'Roboto';
    border: 0;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 300;
    margin-top: 35px;
	margin-bottom: 60px;
	font-size: 15px;
}
.formBtn:hover{
	background: #7e3b80;
	cursor: pointer;
}

.testClass{
  padding-left: 12px;
}
/*.spin-image {
  position: relative;
  top: 50%;
  -webkit-animation: spin 0s linear infinite;
  -moz-animation: spin 0s linear infinite;
  animation: spin 3s  linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }*/