.loadingBox_Main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingBox_Main h2 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 15px;
}
.loadingBox_last{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}
.loadingBox_last h3{
  font-size: 22px;
  margin-bottom: 16px;
}
.loadingBox_last p {
  margin-bottom: 0;
  font-size: 15px;
}
.loading-image {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* width: 120px;
  height: 120px; */
  top: 40px;
  left: 48px;
  margin: -60px 0 0 -60px;
  animation: spin 3s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .loading-image {
    top: 0px;
    left: 0px;
  }
}
