.loginMainCont {
  height: 100vh;
  background-image: linear-gradient(#776cd3, #d35ffb);
  background-size: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: #fff;
}
.loginInnerCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.loginButton {
  background: #e6e7e8;
  color: #662d94;
  border: 0;
  border-radius: 5px;
  padding: 12px 10px;
  width: 200px;
  font-size: 16px;
  margin: 15px auto 0;
  /* border: 2px solid #662d94; */
  background: #fff;
}
.loginButton:hover {
  cursor: pointer;
  background: #ebebeb;
  color: #662d94 !important;
}
.loginButton:focus {
  outline: none;
}
.loginFieldCont {
  width: 100%;
  float: left;
  margin-top: 20px;
}
.loginBtnCont {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.loginInnerCont p {
  margin-bottom: 15px;
  margin-top: 20px;
}

.buttonload {
  background: #e6e7e8;
  color: #662d94;
  border: none; /* Remove borders */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}
.password {
  font: small-caption;
  font-size: 16px;
}
.loginBtnCont .hvr-sweep-to-right {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.loginBtnCont .hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 0px;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: #662d94 !important;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.errorText {
  float: left;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: 1px solid; */
  width: 100%;
  margin-bottom: 0;
  margin-top: -10px;
  height: 27px;
  font-size: 13px;
}
.form_inputfield input:required {
  border-bottom-color: #fff !important;
}
.form_inputfield input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form_inputfield input:focus {
  outline: none;
  box-shadow: none;
}

input:required {
  box-shadow: none;
}
.oscar-logo {
  width: 150px;
  height: 150px;
}

.login-text-box{
  width: 80%
}

.loginButtonPara{
  margin-top: 2.5em;
  font-size: 11px;
  color: #c4d4eb;
}