.maincont {
  height: 93vh;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}
.mainHeading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  color: #262626;
  letter-spacing: -1px;
}
.sologan {
  color: #a7a9ac;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
}
.formHeading {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 26px;
  color: #262626;
  margin-top: 35px;
  letter-spacing: 0px;
  margin-bottom: 0 !important;
}
.formHeading2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 26px;
  color: #262626;
  letter-spacing: 0px;
  margin-bottom: 2vh;
}
.crtaccountform {
  width: 30em;
  margin: 0 auto;
}
.crtaccountform label {
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 0px !important;
}
.crtaccountform div {
  width: 100% !important;
  /* margin-bottom: 15px; */
}
.crtaccountform input {
  padding-left: 10px !important;
  box-shadow: none !important;
}
.crtaccountform:last-child {
  border-bottom-color: rgba(0, 0, 0, 0.42);
  border: "2px solid #000000";
}

.formBtn {
  background: #662d94;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out;
  color: #fff;
  font-family: "Roboto";
  border: 0;
  border-radius: 4px;
  font-weight: 300;
  font-size: 15px;
  padding: 10px 30px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.nextBtn {
  background: #662d94;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out;
  color: #fff;
  font-family: "Roboto";
  border: 0;
  border-radius: 4px;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 0;
  height: 3em;
  width: 10em;
  margin: 2.2em auto;
  cursor: pointer;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.nextBtn:hover .nextBtn-img {
  scale: 2;
}
.nextBtn:focus {
  outline: none !important;
}
.formBtn:hover {
  background: #7e3b80;
  cursor: pointer;
}

.nextBtn:nth-child(1) {
  flex: 8;
  padding-left: 0em;
  align-items: center;
}
.nextBtn:nth-child(2) {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}
.bottomboxes {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottomboxes img {
  padding-top: 10px;
  padding-bottom: 20px;
}
.bottomboxes h4 {
  font-family: "Roboto";
  font-weight: 300;
  color: #262626;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bottomboxes p {
  font-family: "Roboto";
  font-weight: 300;
  color: #a7a9ac;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.bottomSection {
  border-top: 1px solid #e7e7ef;
  padding-top: 20px;
}
.new_Wrapper_box{

}
.oscar-logo-wrapper.new_Wrapper_box {
  margin-left: 0;
}
.oscar-logo-wrapper {
  margin-top: 5vh;
  margin-bottom: 4vh;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 3%;
}
.inputStyleMainBx {
  height: 57px;
  margin-bottom: 10px;
}
.inputStylePassword {
}
.inputStylePassword.MuiInput-underline::before {
  border-bottom: 1px solid #e7e7ef !important;
}
.inputStylePassword.MuiInput-underline:focus {
  border-bottom: 1px solid #e7e7ef !important;
}
.inputStylePassword.MuiInput-underline::after {
  border-bottom: 2px solid #662d94 !important;
}
.inputStylePassword .MuiIconButton-root {
  position: relative !important;
  top: -9px !important;
  padding: 6px !important;
  color: #662d94;
}
.passwordCont label {
  font-size: 15px;
}
.bottom_text_para {
  margin-bottom: 25px;
}
.bottom_text_para p {
  color: #262626;
  font-size: 13px;
}
.captchaBox_main {
  margin-top: 30px;
  margin-bottom: 40px;
}
.inputStyleMainBx input {
  /* margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  height: 73% !important; */
}
.inputStyleMainBx div hr {
  bottom: 0 !important;
}
.passwordCont input {
  margin-top: -5px;
  padding-bottom: 8px;
}
.inputStyle {
  height: 62px !important;
}
.passwordCont label.MuiFormLabel-root.MuiInputLabel-animated {
  position: absolute;
  top: -8px;
}

.passwordCont label.MuiInputLabel-shrink.Mui-focused {
  position: absolute;
  top: -5px;
}
.passwordCont label.MuiInputLabel-shrink.MuiFormLabel-filled {
  position: absolute;
  top: -5px;
}
.passwordCont label.MuiInputLabel-shrink.MuiFormLabel-filled.Mui-focused {
  position: absolute;
  top: -5px;
}
.backarrow-img:hover {
  opacity: 0.6;
}

.example-appear {
  /* opacity: 0.01; */
  /* opacity: 0.6; */
  opacity: 0.01;
  transform: translateX(-500px);
  transition: transform 0.8s linear, opacity 0.8s ease-in;
  
}

.example-appear.example-appear-active {
  transform: translateX(0px);
  opacity: 1;
  /* opacity: 1;
  transition: opacity 0.5s ease-in; */
}
.field_bottom_para{

}
.field_bottom_para p{
  font-size: 11px;
  color: #939598;
}