.skip-btn {

  background-color: #fff;
  border: 1px solid #d1d3d4;
  border-radius: 5px;
  padding: 0.7em 2.5em;
  -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
  color: #262626;
  cursor: pointer;
  -webkit-transition:  0.5s ease-in;
  -moz-transition:  0.5s ease-in;
  -o-transition:  0.5s ease-in;
  transition:  0.5s ease-in;
}
.skip-btn:hover{
  background-color: #4ac600;
  color: #fff;
}
.skip-btn:focus{
  outline: none !important;
}
